extends index.pug

block append title
  |&nbsp;| Page not found

block header
  section
    div
      h1 Four Oh
      h1 Four
  aside
    a(href="/") Go home
  
block main
  h2.callout Page not found
    
