<!doctype html>
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="The person website of Weston Fribley")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    title: block title
      |Weston Fribley
    
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    link(rel="shortcut icon" href="/favicon.ico")
    meta(name="theme-color" content="#ffffff")
    link(rel="stylesheet" href="./index.css")
  
  body
    header: block header
      section
        div
          h1 Weston
          h1 Fribley
      aside
        a(href="./FribleyResume.pdf" target="_blank"): :octicon(icon="file" size="32") Resume
        a(href="mailto:me@westonfribley.com"): :octicon(icon="mail" size="32") Email

    hr

    main: block main
      h2.callout Front End Engineer
    
    footer: small: a(href="https://github.com/wtfribley/westonfribley.com")
      |see the code&nbsp;
      :octicon(icon="code") Github
